:root {
  --heading-first-size: 3.5rem;
  --heading-second-size: 55px;
  --para_first-size: 1.2rem;
  --bold-first: 500;
  --bold-second: 600;
  --common-color: #1f4056;
  --line-height-first: 65px;
}
.about_bg {
  background-image: url("../img/about_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
}
.about_hero {
  display: table-cell;
  vertical-align: middle;
  height: 60vh;
  width: 100vw;
}
.about_hero > h1 {
  font-weight: bold;
  font-size: var(--heading-first-size);
}
.about_link1 {
  font-weight: var(--bold-first);
  font-size: var(--para_first-size);
}
.about_link2 {
  color: #7abab5;
  font-weight: var(--bold-first);
  font-size: var(--para_first-size);
}
/*reusable Class */
.about_section-title {
  font-weight: var(--bold-second);
  font-size: var(--heading-second-size);
  /* line-height: var(--line-height-first); */
  color: var(--common-color);
  margin-top: 1rem;
}
/*About Section1*/
.about_btn {
  background-color: var(--common-color) !important;
  padding: 10px 0;
}

@media (max-width: 1400px) {
  :root {
    --heading-second-size: 45px;
    --line-height-first: 55px;
  }
}
@media (max-width: 768px) {
  :root {
    --heading-first-size: 2.5rem;
    --para_first-size: 0.9rem;
  }
}
/*About Section2*/
.aboutSectionTwo {
  background-image: url("../img/about_section2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.about_section2-title {
  font-weight: var(--bold-second);
}
.about_section2-para {
  font-weight: var(--bold-first);
}
.about_progress {
  width: 166px;
  height: 7px;
  background-color: #e9e9e9;
  border-radius: 5rem;
}
.about_progress-per {
  width: 95px;
  height: 7px;
  background-color: #2ad695;
  border-radius: 5rem;
}
/*About Section3*/
.about_section3_bg {
  background-image: url("../img/about_section3-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}
.card_shadow {
  border-radius: 12px;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.1);
}
.card {
  background-color: #ffff;
}
.card-text {
  line-height: 30px;
}
.about_section3-profilesmall {
  font-size: 14px;
}
/*About Section4*/
.card_data {
  font-weight: var(--bold-first);
  color: var(--common-color);
}
.card_link {
  color: var(--common-color);
  font-size: 0.9rem;
  font-weight: var(--bold-first);
}
.card_link::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  height: 1px;
  width: 60px;
  background-color: var(--common-color);
}
.slick-dots li button:before {
  content: "" !important;
  opacity: 1 !important;
  border-radius: 100%;
  border: 2px solid var(--common-color);
}
.slick-dots li.slick-active button:before {
  background-color: var(--common-color) !important;
}
.slick-dots {
  bottom: -40px !important;
}

.slick-next,
.slick-prev {
  display: none !important;
}
