.footer {
  background-image: url("../img/f-bg-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.footer-padding {
  padding: 10rem 0 1rem 0;
}
.footer h2 {
  color: #1f4056;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
.footer h2:after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  border-bottom: 2px solid #1f4056;
  width: 15%;
  margin-left: 1rem;
}
.footer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  /* or 194% */
  color: #000000;
}
.footer_para2 {
  font-weight: 500;
  line-height: 2rem;
}
.footer_para-bold {
  font-weight: 500;
}
.footer_title2 {
  color: #1f4056;
}
.footer_title2::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  border-bottom: 2px solid #1f4056;
  width: 22%;
  margin-left: 1rem;
}
.footer_title3 {
  color: #1f4056;
}
.footer_title3::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  border-bottom: 2px solid #1f4056;
  width: 55%;
  margin-left: 1rem;
}
.footer-contact ul li,
.footer-contact ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #141414;
}
.footer-contact ul li {
  margin-top: 20px;
}
.footer-contact ul li:first-child {
  margin-top: none;
}
/*Footer Icons*/
.f-social ul li a {
  padding-left: 10px;
}
.f-social ul li a i {
  font-size: 21px;
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  transition: 0.3s;
}
.f-social ul li a i.yt {
  color: #ff0000;
}
.f-social ul li a i.fb {
  color: #4267b2;
}
.f-social ul li a i.ig {
  color: #bc2a8d;
}
.f-social ul li a i.tw {
  color: #1da1f2;
}
.f-social ul li a i.li {
  color: #0077b5;
}
/*hover*/
.f-social ul li a i.yt:hover {
  background-color: #ff0000;
}
.f-social ul li a i.fb:hover {
  background-color: #4267b2;
}
.f-social ul li a i.ig:hover {
  background-color: #bc2a8d;
}
.f-social ul li a i.tw:hover {
  background-color: #1da1f2;
}
.f-social ul li a i.li:hover {
  background-color: #0077b5;
}
.f-social ul li a i:hover{
  color: white;
}
