@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: 0;
}

body {
  line-height: 24px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #8a8a8a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #1f4056;
}

ol,
ul {
  list-style: none;
  padding: 0;
  color: #707070;
}

a {
  text-decoration: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none !important;
}
/* padding */
.sectionPading_extra {
  padding: 50px 0;
}
.section-padding {
  padding: 60px 0;
}
.section_padding_top {
  padding-top: 30px;
}
.section-padding-1 {
  padding-bottom: 60px;
}
.section-padding-3 {
  padding: 20px 0;
}
.section-padding-4 {
  padding-top: 40px;
}
.section-padding-5 {
  padding: 80px 0;
}
.footer_padding_one {
  padding-top: 20px;
}
/* height */
.h-100vh {
  height: 100vh;
}
/* button */
.main-btn {
  background-color: #1f4056;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  border: 3px solid #1f4056;
  transition: 0.4s;
}
.main-btn:hover{
  font-weight: 600;
  background-color: transparent;
  border: 2.9px solid #1f4056;
  color: #1f4056;
}
/* heading */
.global-heading-1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  /* line-height: 82px; */
}
.service-container {
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.07);
  border-radius: 35px;
  /* padding: 20px; */
}
.footerMarginClass {
  margin-top: -20px;
}
/*Hover*/
.arrow_hover{
  transition: 0.2s;
}
.home_readMore:hover .arrow_hover{
   transform: translateX(2px);
}
.about_link2:hover{
  color: #7abab5;
}
