/*accordian css*/
.accordion-item{
    border-radius: 0 !important;
    border: 0;
}
.accordion-button{
    font-size: .900rem;
    font-weight: 500;
    padding: 1.1rem 3rem;
    border:1px solid rgba(0,0,0,.125) !important;
}
.accordion-body{
    line-height: 28px;
    font-size: .850rem;
    color: #8A8A8A;
    font-weight: 400;
}
.accordion-button::after{
    background-image: url("../img/faq_plus-svg.svg");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../img/faq_minus.svg");
    background-size: 1rem;
    margin-bottom: -19px;
    transform: none;
}
.accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: #1F4056;
    box-shadow: none;
}
.accordion-button:focus {
    border-color:#1F4056;
    box-shadow: none;
    border-radius: 0 !important;
}
.faq_section1-title{
    font-size: var(--heading-second-size);
    color: var(--common-color);
    font-weight: var(--bold-second);
}
/*form*/
.form_container{
    background-color:#3C8F7C;
}
.form-control {
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-clip: padding-box;
    border:none;
    border-radius: 0;
}
.submit_btn{
    background-color:#1F4056;
    padding: 12px 17px;
    font-size: .850rem;
    transition: 0.3s;
}
.submit_btn:hover{
    background-color:#224761;
}
.faq_section2-title{
    font-size: 45px;
    font-weight: var(--bold-second);
    line-height: 3rem;
}
/*Faq Section3*/
.faq_section3-bg{
    background-color: #F6F6F6;
}
.faq_section3-title{
    color: var(--common-color);
    font-weight: 600;
}
.faq_section3-para{
    font-size: 1.2rem;
    font-weight: var(--bold-first);
}
.faq_section3-btn{
    border-radius:10px;
    padding: 12px 1.8rem;
    background-color: #1F4056;
    font-size: .950rem;
    border: 3px solid #1F4056;
    transition: 0.2s;
}
.faq_section3-btn:hover{
    font-weight: 600 !important;
    color: #1F4056 !important;
    background: transparent;
    border: 2.9px solid #1F4056;
}