img#admin-nav-p-img {
  width: 20%;
  height: 20%;
}

div.left-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

nav.admin-nav {
  display: grid;
  grid-template-columns: 87% 13%;
  padding: 10px;
  width: 100vw;
}

nav.admin-nav > div.left-section > div.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav.admin-nav > div.left-section > div.links > a {
  color: #2f2e41;
}

nav.admin-nav > div.right-section > div.profile {
  display: flex;
  align-items: center;
}

div.profile > .profile-content {
  padding: 5px;
}

main {
  padding: 20px;
}

div.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 35px;
  width: 100vw;
}

div.card {
  padding-top: 10px;
  width: 25%;
  box-shadow: 1px 5px 17px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

img.card-img-top {
  height: 60%;
  width: 100%;
}

div.statics-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: none;
  border: none;
  background-color: #d4ffff;
  height: 200px;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

div.statics-card:hover {
  cursor: pointer;
}

section.statics {
  margin-top: 20px;
}

div.statics-card > span {
  color: #3a3838a2;
}

div.statics-card > span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #8cf0f077;
}

div.card-activate {
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
}

div.graph-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.user-section {
  padding: 20px;
}

section.users-bookings {
  padding: 50px;
  margin: 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-column-gap: 20px;
}

section.users-bookings > * {
  width: 100%;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
    display: none;
  }
}

div.list {
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

div.list:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.061);
}

div.details {
  padding: 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 100%;
}

div.details > h5 {
  font-weight: normal;
  font-size: 20px;
}

div.details > span.subtitle {
  color: rgba(0, 0, 0, 0.596);
}

div.avatar-container {
  background-color: rgb(158, 158, 158);
  padding: 13px;
  border-radius: 50%;
}

div.c-header {
  padding: 20px 0px;
}

div.c-column {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

span.thead-data {
  font-weight: bold;
}

div.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div.center {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input.custom-input {
  outline: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.424);
  border-radius: 100px;
  margin: 10px;
  width: 90%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button.com-btn {
  padding: 10px;
  background-color: #d4ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 90%;
  margin-top: 10px;
}

div.c-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

button.c-button {
  background-color: #9fffff;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

input.c-input {
  outline: none;
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.71);
}

div.input-container {
  display: flex;
  border-radius: 100px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

div.table {
  background-color: white;
  border-radius: 10px;
  height: 585px;
  padding: 20px;
  overflow: scroll;
  margin-top: 50px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

div.t-row {
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.342);
}

div.thead > span {
  font-weight: bold;
}

span.t-data-b {
  font-weight: bold;
}

span.t-data {
  width: 166px;
}

div.t-row:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.055);
}

div.thead:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
}

div#popup {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

div#popup > div.card > div.close-btn {
  position: absolute;
  top: 1px;
  padding: 10px;
  right: 1px;
  cursor: pointer;
}

div.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
