:root {
  --primary-blue: #257afd;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.editor {
  background-color: #363637;
}

.editor > * {
  color: white;
}

nav.editor {
  display: grid;
  width: 100vw;
  grid-template-columns: 15% 70% 15%;
  padding: 10px;
}

img#admin-nav-p-img {
  width: 20%;
  height: 20%;
}

div.profile {
  display: flex;
  align-items: center;
}

div.profile > .profile-content {
  padding: 5px;
}

div.middle-nav-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.nav-section {
  display: flex;
  align-items: center;
}

div.left-nav-side {
  justify-content: space-around;
}

div.nav-section > div#page-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.view-ports {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.view-port {
  cursor: pointer;
}

div#editor-body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 5% 79% 16%;
}

div#editor-tools {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-top: 20px;
}

button.tool {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div#body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

div#body:hover {
  border: 2px solid var(--primary-blue);
}

div#body:hover::after {
  content: "Body";
  color: var(--primary-blue);
}

div.editor-body-middle {
  position: relative;
}

div#add-setup {
  width: 20%;
  height: 100%;
  color: white;
  position: absolute;
  padding: 10px 15px;
  top: 0px;
  left: 0px;
}
