img#admin-nav-p-img {
  width: 20%;
  height: 20%;
}

div.left-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

nav.admin-nav {
  display: grid;
  grid-template-columns: 87% 13%;
  padding: 10px;
  width: 100vw;
}

nav.admin-nav > div.left-section > div.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav.admin-nav > div.left-section > div.links > a {
  color: #2f2e41;
}

nav.admin-nav > div.right-section > div.profile {
  display: flex;
  align-items: center;
}

div.profile > .profile-content {
  padding: 5px;
}

main {
  padding: 20px;
}

div.cards {
  display: flex;
  justify-content: space-evenly;
  padding: 35px;
  width: 100vw;
}

div.card {
  padding-top: 10px;
  width: 25%;
  box-shadow: 1px 5px 17px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

img.card-img-top {
  height: 60%;
  width: 100%;
}

div.statics-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: none;
  border: none;
  background-color: #d4ffff;
  height: 200px;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

div.statics-card:hover {
  cursor: pointer;
}

section.statics {
  margin-top: 20px;
}

div.statics-card > span {
  color: #3a3838a2;
}

div.statics-card > span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #8cf0f077;
}

div.card-activate {
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
}

div.graph-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.user-section {
  padding: 20px;
}

section.users-bookings {
  padding: 50px;
  margin: 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-column-gap: 20px;
}

section.users-bookings > * {
  width: 100%;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
    display: none;
  }
}

div.list {
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

div.list:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.061);
}

div.details {
  padding: 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 100%;
}

div.details > h5 {
  font-weight: normal;
  font-size: 20px;
}

div.details > span.subtitle {
  color: rgba(0, 0, 0, 0.596);
}

div.avatar-container {
  background-color: rgb(158, 158, 158);
  padding: 13px;
  border-radius: 50%;
}

div.c-header {
  padding: 20px 0px;
}
